html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { 
	display: block;
}
body {
	background: #232323;
	margin: 3.2em 0 1em;
	font: normal 84%/1.1 'Lucinda Grande', 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';
	color: #444;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4 {
	margin: 0 0 10px 0;
}
h1 {
	font-size: 190%;
	font-family: 'Lobster', 'Lucinda Grande', 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';
	border-bottom: 1px solid #ddd;
}
h2 {
	font-size: 140%;
}
h3 {
	font-size: 120%;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}
h2, h3, p, button {
	font-family: 'Droid Sans Mono', 'Lucinda Grande', 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';
}
em {
	font-style: italic;
}
ul {
	margin-left: 2em;
	margin-bottom: 1.5em;
}
ul ul {
	margin: .4em 0 .6em 2em;
}
li {
	margin-bottom: .4em;
}
p, form {
	margin-bottom: 1em;
}
input, select {
    vertical-align: middle;
}
a {
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #000;
}
small {
	font-size: small;
}
@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: normal;
	src: local('Lobster'), url('http://themes.googleusercontent.com/font?kit=X-CahsKZZcJfSyZ_tX4ptg') format('truetype');
}
@font-face {
	font-family: 'Droid Sans Mono';
	font-style: normal;
	font-weight: normal;
	src: local('Droid Sans Mono'), url('http://themes.googleusercontent.com/font?kit=ns-m2xQYezAtqh7ai59hJViAdY2Sz5g753dOuB6TK0I') format('truetype');
}

header {
	display: block;
	margin: 0 auto;
	width: 680px;
	padding: 0 20px;
}

#logo a {
	color: #fff;
	color: #fff;
	font-size: 240%;
}
#logo a:hover {
	color: #fff;
}

.wrapper {
	background: #fff;
	width: 720px;
	margin: -8px auto 0 auto;
	border: 1px solid #000;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
.footer {
	margin-top: 0;
}

#content {
	padding: 20px;
}
section.list {
	margin-bottom: 20px;
}
section.list.last {
	margin-bottom: 0;
}

footer {
	width: 720px;
	margin: .3em auto;
	text-align: right;
	padding-right: 20px;
}
footer a, footer a:visited {
	color: #ccc;
	text-decoration: none;
}
footer a:hover {
	text-shadow: 1px 1px 2px #000;
	color: #fff;
}

nav {
	display: block;
	margin: .5em -10px 0 0;
	padding: 0;
	float: right;
}
nav a {
	float: left;
	font-family: 'Lucinda Grande', 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';
	padding: 0 .8em;
	text-decoration: none;
	text-align: center;
	outline: none;
	color: #ccc;
}
nav a.selected {
	text-decoration: underline;
}
nav a:hover {
	text-shadow: 1px 1px 2px #000;
	color: #fff;
}

fieldset {
	margin-left: 2em;
}
label {
	display: block;
}
input[type=text], input[type=password] {
	margin-bottom: 1em;
	width: 18em;
	-moz-box-shadow: inset 2px 2px 1px #ddd;
	-webkit-box-shadow: inset 2px 2px 1px #ddd;
	-ox-shadow: inset 2px 2px 1px #ddd;
	border: 1px solid #aaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: .5em .8em .4em .8em;
}
textarea {
	/*
	-moz-box-shadow: inset 2px 2px 1px #ddd;
	-webkit-box-shadow: inset 2px 2px 1px #ddd;
	-ox-shadow: inset 2px 2px 1px #ddd;
	border: 1px solid #aaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;*/
	font-family: 'Droid Sans Mono', 'Lucinda Grande', 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';
	padding: 0;
	margin: 0;
}
textarea:focus, input:focus {
	outline: none;
	border-color: #444;
}
textarea {
	padding: .6em;
}

.task-list {
	margin: 0;
}
.task-list li {
	border: 1px dotted #ddd;
	padding: .3em .3em .1em .3em;
	list-style: none;
	position: relative;
	min-height: 1.4em;
	margin-bottom: 4px;
	cursor: pointer;
}
.task-list li textarea {
	padding: 0;
	margin: 0;
	border: 0;
	display: block;
	font-size: 98%;
	overflow:hidden;
	width: 100%;
	background: transparent;
}
.task-list .task-hover .ui-icon {
	position: absolute;
	left: auto;
	right: 0;
	top: 0;
}
.task-list li.border {
	border: 1px dotted #444;
}
.task-list textarea {
	width: 96%;
	display: block;
}
.task-list .task-new {
	cursor: pointer;
}
.task-list .task-new .task-add {
	margin: -1px 2px 0 0;
}
.task-done {
	/*text-decoration: line-through;*/
}

.task-list .task-content {
	margin-top: 1px;
	cursor: pointer;
	background: transparent;
	position: relative;
	margin-left: 24px;
}
.task-list .task-editing {
	cursor: auto;
}
.task-list .task-content .ui-icon {
}
.task-list li.active {
	border-color: #000;
}
.task-list.sortable .ui-state-highlight {
	background: #ffffdd;
	border-color: #aaa;
}


.helper-hidden {
	display: none;
}
.helper-left {
	float: left;
}
.helper-right {
	float: right;
}
.helper-clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}
.helper-clearfix { 
	display: inline-block; 
}
/* required comment for clearfix to work in Opera \*/
* html .helper-clearfix { 
	height: 1%; 
}
.helper-clearfix { 
	display: block; 
}


/* Checkbox
----------------------------------*/
.ui-checkbox { position: relative; float: left; font-size: 64%;}
.ui-checkbox .ui-checkbox-inputwrapper { width: 0; height: 0; overflow: hidden; }
.ui-checkbox label { display: block; position: relative; padding-right: 1em; line-height: 1; text-indent: -9999px; padding: .5em 0 .5em 23px; margin: 0 0 .3em; cursor: pointer; z-index: 1; }
.ui-checkbox .ui-checkbox-box { position: absolute; top: 0; left: 0; width: 1.5em; height: 1.6em; }
.ui-checkbox .ui-checkbox-icon {margin: -1px 0 0 -1px}
