html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { 
	display: block;
}
body {
	background: url(/img/bg.gif);
	margin: 3.2em 0 3em;
	font: normal 85%/1.1 'Lucinda Grande', 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';
	color: #444;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4 {
	margin: 0 0 10px 0;
}
h1 {
	font-size: 190%;
	font-family: 'Lobster', 'Lucinda Grande', 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';
	border-bottom: 1px solid #ddd;
}
h2 {
	font-size: 140%;
}
h3 {
	font-size: 120%;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	margin-bottom: 1.2em;
}
h4 {
	font-size: 112%;
	font-weight: normal;
	margin-bottom: 1.4em;
}
h2, h3, button {
	font-family: 'Droid Sans Mono', 'Lucinda Grande', 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';
}
em {
	font-style: italic;
}
ul {
	margin-left: 2em;
	margin-bottom: 1.5em;
}
ul ul {
	margin: .4em 0 .6em 2em;
}
li {
	margin-bottom: .4em;
}
p, form {
	margin-bottom: 1em;
}
input, select {
    vertical-align: middle;
}
a {
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #000;
}
small {
	font-size: small;
}
@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: normal;
	src: local('Lobster'), url('http://themes.googleusercontent.com/font?kit=X-CahsKZZcJfSyZ_tX4ptg') format('truetype');
}
@font-face {
	font-family: 'Droid Sans Mono';
	font-style: normal;
	font-weight: normal;
	src: local('Droid Sans Mono'), url('http://themes.googleusercontent.com/font?kit=ns-m2xQYezAtqh7ai59hJViAdY2Sz5g753dOuB6TK0I') format('truetype');
}

header {
	display: block;
	margin: 0 auto;
	width: 680px;
	padding: 0 20px;
}

#notification {
	position: fixed;
	top: 0;
	left: 50%;
	background: #fff;
	padding: .4em 1em;
	border: 1px solid #000;
	border-width: 0 1px 1px 1px;
	-moz-border-radius: 0 0 12px 12px;
	display: none;
	z-index: 999;
}
#notification .ui-icon {
	float: left;
	margin-right: .5em;
}

#logo a {
	color: #fff;
	color: #fff;
	font-size: 240%;
}
#logo a:hover {
	color: #fff;
}

.wrapper {
	background: #fefefe;
	width: 720px;
	margin: -8px auto 0 auto;
	border: 1px solid #000;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

#content {
	padding: 20px;
	position: relative;
}
section.list {
	margin-bottom: 20px;
}
section.list.last {
	margin-bottom: 0;
}

footer {
	width: 720px;
	margin: .3em auto;
	text-align: center;
	padding-right: 20px;
}
footer a, footer a:visited {
	color: #ccc;
	text-decoration: none;
}
footer a:hover {
	-moz-text-shadow: 1px 1px 2px #000;
	-webkit-text-shadow: 1px 1px 2px #000;
	-o-text-shadow: 1px 1px 2px #000;
	text-shadow: 1px 1px 2px #000;
	color: #fff;
}

nav {
	display: block;
	margin: .5em -10px 0 0;
	padding: 0;
	float: right;
}
nav ul, nav li { 
	margin: 0;
	padding: 0;
}
nav li {
	list-style: none;
	position: relative;
	float: left;
	overflow: visible;
	padding: 0 0 10px;
}
nav a, footer a {
	font-family: 'Lucinda Grande', 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';
	padding: 0 .4em;
	text-decoration: none;
	text-align: center;
	outline: none;
	color: #888 !important;
	background: transparent !important;
	border: 0 !important;
}
nav a.selected {
	text-decoration: underline;
}
nav a:hover, footer a:hover {
	-moz-text-shadow: 1px 1px 2px #000;
	-webkit-text-shadow: 1px 1px 2px #000;
	-o-text-shadow: 1px 1px 2px #000;
	text-shadow: 1px 1px 2px #000;
	color: #fff !important;
}
nav a .ui-icon {
	width: 12px;
}
nav li ul {
	width: auto;
	position: absolute;
	color: #fff;
	background: #000 url(/img/bg.gif);
	top: 1.5em;
	z-index: 999;
	border: 1px solid #000;
	-moz-border-radius: 0 0 8px 8px;
	left: 0;
	-moz-box-shadow: 2px 2px 0 #dadada;
}
nav li ul li {
	float: none;
	white-space: nowrap;
	padding: 0;
}
nav li ul li a {
	color: #fff;
	font-weight: normal;
	padding: 8px 15px;
	text-align: left;
	display: block;
	text-decoration: none;
}

fieldset {
	margin-left: 2em;
}
label {
	display: block;
}
input[type=text], input[type=password] {
	margin-bottom: 1em;
	width: 26em;
	-moz-box-shadow: inset 2px 2px 1px #ddd;
	-webkit-box-shadow: inset 2px 2px 1px #ddd;
	-o-box-shadow: inset 2px 2px 1px #ddd;
	-ox-shadow: inset 2px 2px 1px #ddd;
	border: 1px solid #aaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	padding: .5em .8em .4em .8em;
}
textarea {
	/*
	-moz-box-shadow: inset 2px 2px 1px #ddd;
	-webkit-box-shadow: inset 2px 2px 1px #ddd;
	-ox-shadow: inset 2px 2px 1px #ddd;
	border: 1px solid #aaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	*/
	font-family: 'Droid Sans Mono', 'Lucinda Grande', 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';
	padding: 0;
	margin: 0;
}
textarea:focus, input:focus {
	outline: none;
	border-color: #999;
}
textarea {
	padding: .6em;
}

.task-list {
	margin: 0;
}
.task-list li {
	border: 1px solid #f4f4f4;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: .0 .3em 0 .3em;
	list-style: none;
	position: relative;
	min-height: 1.4em;
	margin-bottom: 4px;
	cursor: pointer;
}
.task-list li:hover {
	/* -moz-box-shadow: 0 0 1px #000; */
}
.task-list .task-hover .ui-icon {
	position: absolute;
	left: auto;
	right: 0;
	top: 0;
}
.task-list .task-new {
	cursor: pointer;
}
.task-list .task-new .task-add {
	margin: .3em 2px 0 0;
}
.task-list label {
	float: left;
}
.task-done {
	/*text-decoration: line-through;*/
}

.task-list .task-content {
	margin-top: 2px;
	margin-left: 24px;
	padding: .1em 0 .3em 0;
	cursor: pointer;
	line-height: 1.4em;
	background: transparent;
	position: relative;
}
.task-list .task-editing {
	cursor: text;
}
.task-list .task-content .ui-icon {
}
.task-list li.active {
	border-color: #bbb;
	-moz-box-shadow: inset 2px 2px 1px #eaeaea;
	-webkit-box-shadow: inset 2px 2px 1px #eaeaea;
	-o-box-shadow: inset 2px 2px 1px #eaeaea;
	-ox-shadow: inset 2px 2px 1px #eaeaea;
	box-shadow: inset 2px 2px 1px #eaeaea;
}
.task-list li.active .task-time, .task-list li.active .task-remove {
	display: none !important;
}
.task-list.sortable .ui-state-highlight {
	background: #ffffdd;
	border-color: #aaa;
	padding: .3em 0;
}
.list-toggle {
	cursor: pointer;
}

.task-remove, .task-time {
	position: absolute;
	right: 2px;
	top: .4em;
	width: 16px;
	height: 16px;
	z-index: 999;
}
.task-time {
	right: 16px;
}
.ui-state-selected {
	border-color: #bbb !important;
}


#list-completed {
	margin-bottom: 0;
}

.ui-button {
	-moz-box-shadow: 2px 2px 4px #AAA;
	-webkit-box-shadow: 2px 2px 4px #AAA;
	-o-box-shadow: 2px 2px 4px #AAA;
	box-shadow: 2px 2px 4px #AAA;
}
.ui-button.ui-state-active {
	-moz-box-shadow: 1px 1px 1px #ddd;
	-webkit-box-shadow: 1px 1px 1px #ddd;
	-o-box-shadow: 1px 1px 1px #ddd;
	box-shadow: 1px 1px 1px #ddd;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border-color: #ccc;
}
.ui-state-hover {
	border-color: #aaa;
}

#authiframe {
	height: 30px;
	clear: both;
	display: block;
}

#terms {
	height: 4em;
	font-size: 90%;
	overflow: auto;
	padding: .5em;
	border: 1px solid #bbb;
	-moz-box-shadow: inset 2px 2px 1px #ddd;
	-webkit-box-shadow: inset 2px 2px 1px #ddd;
	-o-box-shadow: inset 2px 2px 1px #ddd;
	-ox-shadow: inset 2px 2px 1px #ddd;
	margin-bottom: 1em;
}

#task-time-container {
	background: #000;
	width: 120px;
	position: absolute;
	top: 0;
	z-index: 999;
	padding: 6px;
	-moz-box-shadow: 2px 2px 4px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	-o-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
}
#task-time-container .ui-icon-help {
	cursor: pointer;
}
#task-time-help {
	width: 180px;
	margin-top: 8px;
	font-size: 90%;
	display: none;
}
#task-time-help h4 {
	margin-bottom: 10px;
	font-weight: normal;
}
#task-time-help ul {
	margin-bottom: 0;
}
#task-time {
	width: 100px;
	margin: 0;
}

#openid-login {
	margin-top: 2em;
}
#openid-login .ui-button {
	-moz-box-shadow: 0 0 0 #000;
	-webkit-box-shadow: 0 0 0 #000;
	-o-box-shadow: 0 0 0 #000;
	box-shadow: 0 0 0 #000;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	border-width: 1px 1px 1px 0
}
#openid-login .ui-button-text {
	padding: 4px 1em 3px 1em;
}
#openid-login input {
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	-o-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	margin: -4px -4px 0 10px;
	display: inline-block;
	background: url(/img/icon_openid.gif) no-repeat left center;
	padding-left: 18px;
	width: 22em;
}
#openid-login p {
	margin-bottom: .6em;
}

#projects-new input {
	display: none;
	width: 140px;
	margin: 0 15px 10px 15px;
}

#application-profiler {
	display: none;
	margin-top: 1em;
}


/* layout helpers 
---------------------*/

.helper-hidden {
	display: none;
}
.helper-left {
	float: left;
}
.helper-right {
	float: right;
}
.helper-clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}
.helper-clearfix { 
	display: inline-block; 
}
/* required comment for clearfix to work in Opera \*/
* html .helper-clearfix { 
	height: 1%; 
}
.helper-clearfix { 
	display: block; 
}


/* Checkbox
----------------------------------*/
.ui-checkbox { position: relative; float: left; font-size: 64%; margin-top: .5em; width: 17px; height: 18px; margin-bottom: .5em}
.ui-checkbox .ui-checkbox-inputwrapper { width: 0; height: 0; overflow: hidden; }
.ui-checkbox label { display: block; position: relative; padding-right: 1em; line-height: 1; text-indent: -9999px; height: 18px; width:16px; margin: 0; cursor: pointer; z-index: 1; }
.ui-checkbox .ui-checkbox-box { position: absolute; top: 0; left: 0; width: 15px; height: 16px; }
.ui-checkbox .ui-checkbox-icon {margin: -1px 0 0 0}

.auth-confirm .ui-checkbox label { width: auto; text-indent: 0; font-size: 154%; margin-left: 26px; margin-top: 2px; }
.auth-confirm .ui-checkbox { width: auto }
