#task-time-container {
	display: none;
}
h2, h3, h4 {
	padding: 0;
	margin: 0;
}
h4 {
	padding: .4em 0;
	font-size: .8em;
}
.ui-field-contain {
	padding: .4em 0;
}
.ui-footer {
}

.ui-header .ui-controlgroup {
	top: 0.4em;
	margin: 0;
	padding: 0;
}

.ui-header .ui-title {
	font-size: 17px;
}
.ui-footer .ui-controlgroup-horizontal {
	margin: .4em 0;
}
